@import url('https://fonts.cdnfonts.com/css/figtree');

:root {
  --pad: 4px;
  --radius: 6px;
}

* {
  box-sizing: border-box;
  font-family: 'Figtree';
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.cell {
  overflow-wrap: anywhere;
  padding: var(--pad);
}

.contact-widget {
  display: flex;
}

.content {
  background: #131313;
  color: white;
  flex-grow: 1;
  overflow: auto;
}

.field-group {
  display: flex;
  flex-direction: column;
  padding: var(--pad);
}

.file-input {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-yellow {
  color: yellow;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.footer {
  background: purple;
  color: white;
  display: flex;
  flex-shrink: 0;
  overflow: auto;
}

.footer-field-group {
  align-items: center;
  display: flex;
  padding: var(--pad);
  white-space: nowrap;
}

.footer-label {
  margin-right: var(--pad);
}

.form-label {
  margin-bottom: var(--pad);
}

.form-label-yellow {
  color: yellow;
  margin-bottom: var(--pad);
}

.four-x-four-btn {
  background: purple;
  border-color: white;
  border-radius: var(--radius);
  border-style: solid;
  border-width: 1px;
  color: white;
  cursor: pointer;
  display: grid;
  font-size: 1em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: var(--pad);
}

.header {
  background: purple;
  color: white;
  padding: var(--pad);
  text-align: center;
}

.primary-btn {
  background: white;
  border-radius: var(--radius);
  border-style: none;
  color: purple;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  padding: var(--pad);
}

.primary-iconic-btn {
  background: white;
  border-radius: var(--radius);
  border-style: none;
  color: purple;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  padding: var(--pad);
}

.secondary-iconic-btn {
  background: purple;
  border-color: white;
  border-radius: var(--radius);
  border-style: solid;
  border-width: 1px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  padding: var(--pad);
}

.submit-button-container {
  display: flex;
  justify-content: center;
  padding: var(--pad);
}

.text-field {
  /* Logic for this bg color:
    * increase by 5 each RGB value of
    * the main bg color.
    */
  background: #181818;

  border-bottom: white 1px solid;
  border-left: none;
  border-radius: var(--radius);
  border-right: none;
  border-top: none;
  color: white;
  font-size: 1em;
  padding: var(--pad);
  resize: none;
}
