@import url('https://fonts.cdnfonts.com/css/figtree');

:root {
  --padding: 4px;
  --radius: 6px;
}

* {
  box-sizing: border-box;
  color: white;
  font-family: 'Figtree';
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.cell {
  overflow-wrap: anywhere;
  padding: var(--padding);
}

.contact-widget {
  display: flex;
}

.content {
  background: #131313;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.field-group {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.footer {
  background: purple;
  display: flex;
  overflow: auto;
}

.form-label {
    margin-bottom: 4px;
}

.four-x-four-btn {
  background: purple;
  border-color: white;
  border-radius: var(--radius);
  border-style: solid;
  border-width: 1px;
  display: grid;
  font-size: 1em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: var(--padding);
}

.header {
  background: purple;
  padding: var(--padding);
  text-align: center;
}

.iconic-btn {
  background: purple;
  border-color: white;
  border-radius: var(--radius);
  border-style: solid;
  border-width: 1px;
  display: flex;
  font-size: 1em;
  padding: var(--padding);
}

.text-field {
    /* Logic for this bg color:
     * increase by 5 each RGB value of
     * the main bg color.
     */
    background: #181818;

    border-bottom: white 1px solid;
    border-left: none;
    border-radius: var(--radius);
    border-right: none;
    border-top: none;
    font-size: 1em;
    padding: var(--padding);
    resize: none;
}
